# Use npmjs.org by default
registry=https://registry.npmjs.org/

# Tell npm to pull any @midnight-ntwrk/* package from GitHub Packages:
# @midnight-ntwrk:registry=https://npm.pkg.github.com/

# Token to auth yourself (make sure the env‐var matches below)
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# Always send auth on every request to GitHub's registry
# //npm.pkg.github.com/:always-auth=true
