name: Contracts

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  pipeline:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    timeout-minutes: 15

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 2 # Recommended by turbo team

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Compile and build contracts
        run: |
          pnpm build:contracts

      - name: Run tests
        run: pnpm test:contracts

      - name: Check types
        run: pnpm types:contracts
